[BEGINVDF]
Comment=Nyras Prolog Demake - Ukrainian translation by Gared (Gothic.UA)
BaseDir=..\..\..\
VDFName=..\..\..\Data\ModVDF\NyrasPrologueDemake_LocalizationUA.mod

[FILES]
; Modular resources
_work\Data\Scripts\_compiled\GOTHIC.DAT
_work\Data\Scripts\_compiled\MENU.DAT
_work\Data\Scripts\Content\Cutscene\OU.BIN

[EXCLUDE]
.empty -r
*.vm
*.vdf
*.bat
*.cfg
.*

[ENDVDF]