[BEGINVDF]
Comment=Nyras Prolog Demake by Nyras Enjoyers - Italian translation by Piranha Legacy Italia
BaseDir=..\..\..\
VDFName=..\..\..\Data\ModVDF\NyrasPrologueDemake_LocalizationIT.mod

[FILES]
; Modular resources
_work\Data\Scripts\_compiled\GOTHIC.DAT
_work\Data\Scripts\_compiled\MENU.DAT
_work\Data\Scripts\Content\Cutscene\OU.BIN

[EXCLUDE]
.empty -r
*.vm
*.vdf
*.bat
*.cfg
.*

[ENDVDF]